
  .swiper-pagination-bullet {
    background-color: white; /* Change this to your desired color */
    border: 2px solid #00AB55;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #00AB55; /* Change this to your desired active color */
  }

  .mySwiper {
    position: relative;
  }
  
  .swiper-pagination.custom-pagination {
    position: absolute;
    bottom: 10px; 
    left: 0;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .swiper-pagination.custom-pagination .swiper-pagination-bullet {
    margin: 0 5px; /* Adjust spacing between dots */
  }